
@{
    ViewBag.Title = "SessionStateClientSideURL";
}

<h2>SessionStateClientSideURL</h2>

<form method="post" action="/StateMangementOptions/SessionStateClientSideURL?username=ganesh">


    <input type="text" name="txtpwd" value="" />
    <input type="submit" name="name" value="click" />

</form>