
@{
    ViewBag.Title = "SessionStateClientSideHiddenVariable";
}

<h2>SessionStateClientSideHiddenVariable</h2>

<form method="post" action="/StateMangementOptions/SessionStateClientSideHiddenVariable">


    <input type="hidden" name="txtpwd" value="some value" />
    <input type="submit" name="name" value="click" />

</form>